@charset "UTF-8";

@import 'mixin';

/* custom css-files */


img {
    display: inline-block;
    vertical-align: bottom;
}
.logo {
    display: inline-block;
}
.menu.justify {
    a, span {
        display: block;
        line-height: 50px;
    }
}


